
@font-face {
    font-family: 'cmu_brightroman';
    src: url('cmunbmr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cnu_serifroman';
    src: url('cmunrm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: white;
    font-family: "cmu_brightroman";
    color: black;

}
h1 {
    text-align: center;

}
.r{
    padding-top: 3em;
    padding-left: 18em;
}
.date{
    color: silver;
}
.listing{
    font-family: 'cnu_serifroman';
    font-weight: bolder;
}
.current{
    border-style: solid;
    border-bottom-color: rgba(120,20,20,1);
    border-top:none;
    border-left:none;
    border-right:none;
}
.current:hover{
    border-bottom-color: rgba(200,20,20,1);


}
