{% load static %}
<link rel="stylesheet" type="text/css" href={% static "about/achievementStyle.css" %} />
<script src={% static 'about/Gallery.js' %}> </script>
<head>
    <meta charset="UTF-8">
    <title>Achievements</title>
</head>
<body>
<h1>Achievements</h1>

{% for achievement in achievements%}

    <div onmouseover="display()">
        <p class="achievement"> {{ achievement.title }}</p>
        <p class="date">{{ achievement.date }}</p>
        <p class="achievement" {{ achievement.title }} hidden></p>
    </div>

{% endfor %}
<form>
    <input type="button" value="Result" onclick="display()"/>
</form>

</body>
