{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href={% static "about/resume-style.css" %} />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "about/style.css" %} />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>

<body>
<ul class="nav justify-content-center r">
  <li class="nav-item current">
    <a class="btn btn-light" href={% url 'about:about' %}>Home</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:resume' %}>Resume</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:projects' %}>Projects</a>
  </li>
</ul>
<img width="300" id="nithin-pic" src={% static "about/images/nithin_pic.png"%}>
<h1>Nithin Muthukumar</h1>
<div class=description>
    <p id=info>I am a highschool student from Windsor, Canada who is passionate about tech</p>
</div>
<div id="bio">
<a href="https://github.com/nithinmuthukumar"><img width="30" height="30" src={% static "about/images/github_icon.png" %}></a>
<a href="https://www.linkedin.com/in/nithin-muthukumar-681219162/"><img width="30" height="30" src={% static "about/images/linkedin_icon.png" %}></a>
<a href="https://devpost.com/nithinmuthuklumar?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav"><img width="30" height="30" src={% static "about/images/devpost_icon.png" %}></a>
    <a href="https://nithinmuthukumar.itch.io"><img width="30" height="30" src={% static "about/images/itch_icon.png" %}></a>
</div>



</body>


