{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href={% static "about/resume-style.css" %} />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "about/style.css" %} />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>

<body>
<ul class="nav justify-content-center r">
  <li class="nav-item current">
    <a class="nav-link" href={% url 'about:about' %}>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'about:resume' %}>Resume</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Interests</a>
  </li>
</ul>
<img id="nithin-pic" src={% static "about/images/nithin.png" %}>
<h1>Nithin Muthukumar</h1>
<div class=description>
    <p id="bio">I am a highschool student from Windsor, Canada who is passionate about tech</p>
</div>
</body>


