{% load static %}
<!--
hidden hides things- pretty cool
also javascript functions are called by events
transitions in css
 -->
<link rel="stylesheet" type="text/css" href={% static "about/resume-style.css" %} />
<script src={% static 'about/Gallery.js' %}> </script>
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Achievements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- minimum css file for easy styling-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static "about/project-style.css" %}>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<!-- dont have to put text in p tag-->
<ul class="nav justify-content-center r">
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:about' %}>Home</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:resume' %}>Resume</a>
  </li>
  <li class="nav-item current">
    <a class="btn btn-light" href={% url 'about:projects' %}>Projects</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href="#">Interests</a>
  </li>
</ul>
<div class="container-fluid">
    {% for project in projects %}
        </div>
<div class="card" style="width: 33%;">
  <img src={% static project.imgUrl %} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ project.name }}</h5>
    <a href="{{ project.url }}" class="btn btn-primary">Info</a>
  </div>
</div>

{% endfor %}

</body>
