{% load static %}
<!--
hidden hides things- pretty cool
also javascript functions are called by events
transitions in css
 -->
<link rel="stylesheet" type="text/css" href={% static "about/resume-style.css" %} />
<script src={% static 'about/Gallery.js' %}> </script>
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Achievements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- minimum css file for easy styling-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static "about/project-style.css" %}>
</head>
<body>
<ul class="nav justify-content-center r">
  <li class="nav-item">
    <a class="nav-link" href={% url 'about:about' %}>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'about:resume' %}>Resume</a>
  </li>
  <li class="nav-item current">
    <a class="nav-link" href={% url 'about:projects' %}>Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Interests</a>
  </li>
</ul>
<div class="container-fluid">
    {% for project in projects %}

            <div class="project-box">
                <a href={{ project.link }}>{{ project.name }}</a>
                <img src={% static "about/images/nithin.png" %}>

            </div>


{% endfor %}

</div>


</body>
