{% load static %}
<!--
hidden hides things- pretty cool
also javascript functions are called by events
transitions in css
 -->
<link rel="stylesheet" type="text/css" href={% static "about/resume-style.css" %} />
<script src={% static 'about/Gallery.js' %}> </script>
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- minimum css file for easy styling-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul class="nav justify-content-center r">
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:about' %}>Home</a>
  </li>
  <li class="nav-item current">
    <a class="btn btn-light" href={% url 'about:resume' %}>Resume</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-light" href={% url 'about:projects' %}>Projects</a>
  </li>
</ul>

<div class="container-fluid">

    <div class="row r">
        <div class="col-md-6">
            <h2>Achievements</h2>
            <ul>
            {% for achievement in achievements%}
                <li>
                <p class="listing"> {{ achievement.title }}</p>
                <p class="date">{{ achievement.date }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    <div class="col-md-6">
            <h2>Education</h2>
            {% for school in schools %}
                <h5>{{ school.name }}</h5>
                {% for club in clubs %}
                    <ul>
                    {% ifequal club.school_id school.id %}
                        <li>
                        <p>{{club.name}}</p>
                        </li>
                    {% endifequal %}
                    </ul>
                {% endfor %}
            {% endfor %}

    </div>
    </div>
    <div class="row r">
        <div class="col-md-6">
            <h2>Skills</h2>
            <ul>

                {% for skill in skills %}
                    <li>
                        <p class="listing"> {{ skill.info }}</p>
                     </li>


                {% endfor %}

            </ul>

        </div>
    <div class="col-md-6">
            <h2>Experience</h2>
            <ul>
                {% for experience in experiences %}
                    <li>
                        <p> {{experience.info }}</p>

                     </li>


                {% endfor %}

            </ul>
            <h2>Interests</h2>
            <ul>

                {% for interest in interests %}
                    <li>
                        <p> {{interest.info }}</p>

                     </li>


                {% endfor %}

            </ul>

    </div>
    </div>
</div>

</body>
